doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Blog Post - SRblog
  link(rel='stylesheet' href='./assets/bootstrap/css/bootstrap.min.css?h=17f2ec42346f255d8558874477664e13')
  link(rel='stylesheet' href='./assets/bootstrap/css/post.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
nav#mainNav.navbar.navbar-light.navbar-expand-lg.fixed-top
  .container
    a.navbar-brand(href='/') SRblog
    button.navbar-toggler(data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      i.fa.fa-bars
    #navbarResponsive.collapse.navbar-collapse
      ul.nav.navbar-nav.ml-auto
        li.nav-item(role='presentation')
          a.nav-link(href='/') Home
header.masthead(style="background-image:url('./assets/img/post-bg.jpg?h=9b3eae5bf913af77d61c0390cba13bf5');")
  .overlay
  .container
    .row
      .col-md-10.col-lg-8.mx-auto
        .post-heading
          h1 Red Flags &quot;Indicadores para con caer en el error.&quot;
          h2.subheading
            | Aprende a identificar aquellos argumentos que no son validos por medio de Red Flags
          span.meta
            | Publicado por&nbsp;
            a(href='salvadorrico.me') Salvador Rico
            | &nbsp;el 01 Octubre, 2019
article
  .container
    .row
      .col-md-10.col-lg-8.mx-auto
        p
        // Que son
        h2.section-heading &iquest;Qu&eacute; son las &quot;Red Flags&quot;?
        p.justify
          | Las &quot;Red Flag&quot; son indicadores (Banderas), que nos ayudan a detectar si algo es correcto,
          | cierto o tiene alg&uacute;n trasfondo cient&iacute;fico. Existen diez tipos de Red Flags:
          | Autoridad de Apelaci&oacute;n, Sabidur&iacute;a Antigua, Sesgo de Confirmaci&oacute;n, Confusi&oacute;n de Causalidad,
          | Correlaci&oacute;n, Prueba de Verbosidad, Energ&iacute;a M&iacute;stica, Supresi&oacute;n por Autoridad, Apoyo Ideol&oacute;gico, Red Herring
        // Autoridad de Apelacion
        h4.section-heading Autoridad de Apelaci&oacute;n
        p.justify
          | Es cuando asumimos algo como un hecho solo y unicamente porque alguien con gran cargo (Autoridad) lo comunica.
        a(href='#')
        blockquote.blockquote
          p.mb-0
            | - Un saludo para la presidenta de Boca del Rio, capital del estado de Veracruz 
            small *1
          span.text-right.caption.text-muted Ex-Presidente Enrique Pe&ntilde;a Nieto
        p
          | El Sr. Ex-Presidente menciono que Boca del Rio era la capital del estado de veracruz y no por eso debemos asumir que asi es.
        // sabiduría antigua
        h4.section-heading Sabidur&iacute;a Antigua
        p.justify Es todo aquello que se creia verdad por su antiguedad sin ser comprobado
        img.img-fluid(src='https://www.nationalgeographic.com.es/medio/2013/02/13/b169160d_1683x2000.jpg')
        span.caption.text-muted &quot;Las serpientes de Asclepio&quot; Foto: Erich Lessing / Album.
        blockquote.blockquote
          p.mb-0
            | - &quot;Higiea, sentada junto a su padre Asclepio, da de comer a una serpiente. Este animal, emblema del dios, era empleado en los rituales curativos de sus santuarios&quot; 
            small.refes *2
            span.text-right.caption.text-muted
        p
          | En la antiguedad se creia que la serpiente involucrada con la salud era garantia de la sanacion.
        // Sesgo de Confirmación
        h4.section-heading Sesgo de Confirmaci&oacute;n
        p.justify
          | &quot;El sesgo de confirmaci&oacute;n es la tendencia de una persona a favorecer la informaci&oacute;n que confirma sus suposiciones, ideas preconcebidas o hip&oacute;tesis, independientemente de que &eacute;stas sean verdaderas o no.&quot;
          small.refes *3
        blockquote.blockquote
          p.mb-0
            | - Durante un tiempo a la mayor&iacute;a de los padres tienen la tradici&oacute;n de ense&ntilde;arles a sus hijos sobre santa claus, un ser m&aacute;gico que trae regalos en navidad.
            span.text-right.caption.text-muted Salvador Rico Fano
        p
          | En este ejemplo se muestra como los padres para fundamentar su argumento realizan el trabajo de un ser m&aacute;gico que trae regalos.
        // Prueba de Verbosidad
        h4.section-heading Prueba de Verbosidad
        p.justify Se trata de sobre cargar de informacion poco util un argumento.
        blockquote.blockquote
          p.mb-0
            | - Durante un interrogatorio el interrogador realiza una pregunta tras otrsa que no lleva a ningun lado y nunca va al punto.
            span.text-right.caption.text-muted Salvador Rico Fano
        p Esto suele ser un ejemplo, se tiende a no ir al punto directo.
        // Energía Mística
        h4.section-heading Energ&iacute;a M&iacute;stica
        p.justify Argumenta que todo evento mistico tiene es real.
        blockquote.blockquote
          p.mb-0
            | - &quot;Los celtas encend&iacute;an hogueras para pedir la bendici&oacute;n de las tierras, la fertilidad de las mujeres y un buen futuro para los enamorados. En la cultura oriental se cre&iacute;a que el Sol era un ser m&aacute;gico que con su luz guiaba a los esp&iacute;ritus bondadosos para que durante el solsticio se pudieran comunicar con los mortales.&quot;
            small.refes *4
        p En estos casos se muestra como la gente cree en las fuerzas misticas ayudan.
        // Supresión por Autoridad
        h4.section-heading Supresi&oacute;n por Autoridad
        p.justify
          | Da validez a un argumento por el hecho de aparentar ser expresado por la autoridad.
        iframe(width='560' height='315' src='https://www.youtube.com/embed/0FnLeNArhaE' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        p
          | Se muestra como un supuesto doctor recomienda un producto persuadiendo en que es la opcion verdadera.
        // Apoyo Ideológico
        h4.section-heading Apoyo Ideol&oacute;gico
        p.justify Persuade de una ideologia.
        blockquote.blockquote
          p.mb-0
            | - El moiemiento feminista ha sido una ideologia que trata de persuadir a la sociedad sobre la superioridad de la mujer
        p Todo lo argumentado es basado en una ideologia.
article
  .container
    .row
      .col-md-10.col-lg-8.mx-auto
        h2.section-heading Referencias Bibliogr&aacute;ficas
        hr.my-4
        blockquote.blockquote
          p.mb-0.indent
            small *1
            |  Pe&ntilde;a, E. (abril 03, 2013). 
            i.ital Pe&ntilde;a Nieto confunde la capital del estado de Veracruz
            | . septiembre 30, 2019, de Aristegui Noticias Sitio web: https://www.youtube.com/watch?v=57HNjd747OM
          p.mb-0.indent
            small *2
            |  Garc&iacute;a, C. (mayo 14, 2018). 
            i.ital La medicina en la Grecia antigua: el nacimiento de una ciencia
            | . septiembre 30, 2019, de National Geogrphic Sitio web: https://www.nationalgeographic.com.es/historia/grandes-reportajes/la-medicina-en-la-grecia-antigua_7023/2
          p.mb-0.indent
            small *3
            |  Exportable.com. (septiembre 4, 2010). 
            i.ital Sesgo de confirmaci&oacute;n
            | . septiembre 30, 2019, de explorable.com Sitio web: https://explorable.com/es/sesgo-de-confirmacion
          p.mb-0.indent
            small *4
            |  Arteaga J. (junio 18, 2019). Solsticio de Verano: Mitos, tradiciones, realidades y a d&oacute;nde ir para celebrarlo. septiembre 30, 2019, de holatelcel.com Sitio web: https://holatelcel.com/lifeandstyle/solsticio-de-verano-mitos-tradiciones-realidades-y-a-donde-ir-para-celebrarlo/
footer
  .container
    .row
      .col-md-10.col-lg-8.mx-auto
        ul.list-inline.text-center
          li.list-inline-item
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-twitter.fa-stack-1x.fa-inverse
          li.list-inline-item
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-facebook.fa-stack-1x.fa-inverse
          li.list-inline-item
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-github.fa-stack-1x.fa-inverse
        p.text-muted.copyright Copyright&nbsp;&copy;&nbsp;SRblog 2018
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js')
script(src='./assets/js/script.min.js?h=6c07da54c4d2d77c149cca568a16930a')
