doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Blog Post - SRblog
  link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css?h=17f2ec42346f255d8558874477664e13')
  link(rel='stylesheet' href='/assets/bootstrap/css/post.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
nav#mainNav.navbar.navbar-light.navbar-expand-lg.fixed-top
  .container
    a.navbar-brand(href='/') SRblog
    button.navbar-toggler(data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      i.fa.fa-bars
    #navbarResponsive.collapse.navbar-collapse
      ul.nav.navbar-nav.ml-auto
        li.nav-item(role='presentation')
          a.nav-link(href='/') Home
header.masthead(style="background-image:url('https://areajugones.sport.es/wp-content/uploads/2019/05/Videoconsolas.jpg');")
  .overlay
  .container
    .row
      .col-md-10.col-lg-8.mx-auto
        .post-heading
          h1 Videojuegos. ¿Son buenos o son malos?
          h2.subheading
            | Impresiones acerca del debate sobre los videojuegos realizado por alumnos "FITEC"
          span.meta
            | Publicado por&nbsp;
            a(href='salvadorrico.me') Salvador Rico
            | &nbsp;el 27 Octubre, 2019
article
  .container
    .row
      .col-md-10.col-lg-8.mx-auto
        //Introduccion
        h2.section-heading Introucción
        p.justify
          | En la clase de Pensamiento Crítico y Comunicación Ora, se llevo acabo un debate con tema "Los videjuegos, ¿Son bueno o malos?"
          | el cual tenia como proposito exponer argumentos solidos de fuentes primarias creibles, haciendo uso de ellos sin caer en falasisas.
          | Se dividio al grupo en ambas pocisiones, donde para el caso me toco apoyar la idea "Los videojuegos son buenos".
        p.justify
          | En este blog se expondran los argumentos investigados al conjunto con la opinion personal sobre cada uno,
          | las concluciones personales sobre el tema despues del debate y las concluciones sobre el debate.
    //Args
    .row
      .col-md-10.col-lg-8.mx-auto
        h4.section-heading Argumentos y documentacion presentados
        p.justify
          | El primer argumento preparado para este debate trata el uso de videojuegos como herramienta 
          | en el ejercicio (Exergaming). Donde se plantea lo siguiente
        blockquote.blockquote
          p.mb-0
            | “La situación epidemiológica del sobrepeso y obesidad en México ha sido ampliamente
            | documentada y analizada. Para el tratamiento de este fenómeno multifactorial se han propuesto estrategias  enfocadas en  la  promoción y  educación para la salud del público meta, buscando a mediano y largo plazo la desaceleración, y eventual reducción, de ésta epidemia. La población infantil esta particularmente en alto riesgo, con las consecuencias que esto puede traer durante la vida útil del individuo. Considerando las características sociológicas de la población escolar (6-12 años), el nicho tecnológico en el que se encuentran y su tendencia a las interacciones virtuales, se plantea una intervención donde se utilizan videojuegos para la promoción de actividad física, además de la evaluación inicial del impacto a través de mediciones estandarizadas de antropometría y rendimiento físico."
          span.text-right.caption.text-muted [1]
        p.justify
          | Tras una investigacion realizada por la "Universidad De Montemorelos" (UM), se llegaron a las siguientes concluciones.
        blockquote.blockquote
          p.mb-0 
            | "Este estudio evidencia el valor que las intervenciones de Exergaming tienen en la facilitación de actividad física en población escolar (6 a 12 años), al mostrar que se logró una disminución significativa en el porcentaje de grasa  corporal y un  aumento en fuerza  en tronco  y miembros pélvicos. Hay evidencia para proponer intervenciones de Exergaming como herramientas complementarias de actividad  física  en población  escolar  en  proyectos  de intervención  comunitaria, clases de educación  física o estrategias de activación física en núcleos familiares.”
          span.text-right.caption.text-muted [1]
        p
          | El argumento utilizado bajo esta investigacion fue "Los videojuegos bien utilizados ayudan al desarrollo fisico de los usuarios"
    //Conclusiones del debate
    .row
      .col-md-10.col-lg-8.mx-auto
        h4.section-heading Conclusiones del tema debatido
        p.justify
          | Durante el transcurso del debate se expusieron distintas ideas y argumentos de abas partes,
          | algunos de ellos construian una postura fuerte mientras que otros eran anulados entre si o simplemente,
          | no aportaban al bando, tras 2 periodos de clase de exponer puntos, pudimos llegar a la siguiente conlcucion.
          | "Los videojuegos fueron creados bajo distintos propositos, pero el usuario final es el que decide la nocividad del mismo,
          | al dedicar n tiempo e importancia del videojuego en su vida."
        p.justify
          | 
    //Conclusiones
    .row
      .col-md-10.col-lg-8.mx-auto
        h4.section-heading Conclusiones de la ejecucion debata
        p.justify
          | El debate se llevo de una forma ordenada y clamada, con algunos puntos de exitacion por el argumento expuesto, sin embargo siempre
          | respetando al exponente y el replicador. En ambos grupos como se pocicionaron panelistas clabes los cuales solian replicar a los argumentos 
          | contrarios. Todos los presentes participaron con la aportacion de su argumento asi como de algunas replicas.
        p.justify
          | En mi opinion personal se puedo haber conseguido un mejor resultado al haber realizado una preparacion sobre como llevar acabo un debate.

article
  .container
    .row
      .col-md-10.col-lg-8.mx-auto
        h2.section-heading Referencias Bibliogr&aacute;ficas
        hr.my-4
        blockquote.blockquote
          p.mb-0.indent.justify
            small [1]
            |   Guillen-Peralta, A & Romo-Cardenas, Gerardo & Avilés R, Gener & Rodríguez-Antonio, R. (2014). 
            | Impacto en la Condición Física en Niños de Edad Escolar Expuestos a una Intervención de "Exergaming" en Montemorelos Nvo. León. 10.13140/2.1.1319.5044. 
          br
footer
  .container
    .row
      .col-md-10.col-lg-8.mx-auto
        ul.list-inline.text-center
          li.list-inline-item
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-twitter.fa-stack-1x.fa-inverse
          li.list-inline-item
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-facebook.fa-stack-1x.fa-inverse
          li.list-inline-item
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-github.fa-stack-1x.fa-inverse
        p.text-muted.copyright Copyright&nbsp;&copy;&nbsp;SRblog 2018
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js')
