doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Blog Post - SRblog
  link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css?h=17f2ec42346f255d8558874477664e13')
  link(rel='stylesheet' href='/assets/bootstrap/css/post.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
nav#mainNav.navbar.navbar-light.navbar-expand-lg.fixed-top
  .container
    a.navbar-brand(href='/') SRblog
    button.navbar-toggler(data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      i.fa.fa-bars
    #navbarResponsive.collapse.navbar-collapse
      ul.nav.navbar-nav.ml-auto
        li.nav-item(role='presentation')
          a.nav-link(href='/') Home
header.masthead(style="background-image:url('https://i.gyazo.com/9187147dc4f2f62499a5f1cb3bec4878.png');")
  .overlay
  .container
    .row
      .col-md-10.col-lg-8.mx-auto
        .post-heading
          h1 Desplazamiento
          h2.subheading
            | Resumen grafico y creativo de las paginas 37-51 de Sears-Zemansky-Young.  (2009). Física Universitaria (Vol. I. 12ª ed.). México: Addison Wesley Longman..
          span.meta
            | Publicado por&nbsp;
            a(href='salvadorrico.me') Salvador Rico
            | &nbsp;el 26 Enero, 2020
article
  .container
    .row
      .col-md-10.col-lg-8.mx-auto
        //Definición
        img(src="https://i.gyazo.com/9187147dc4f2f62499a5f1cb3bec4878.png", alt="")
    
footer
  .container
    .row
      .col-md-10.col-lg-8.mx-auto
        ul.list-inline.text-center
          li.list-inline-item
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-twitter.fa-stack-1x.fa-inverse
          li.list-inline-item
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-facebook.fa-stack-1x.fa-inverse
          li.list-inline-item
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-github.fa-stack-1x.fa-inverse
        p.text-muted.copyright Copyright&nbsp;&copy;&nbsp;SRblog 2018
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js')
