doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Blog Post - SRblog
  link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css?h=17f2ec42346f255d8558874477664e13')
  link(rel='stylesheet' href='/assets/bootstrap/css/post.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
nav#mainNav.navbar.navbar-light.navbar-expand-lg.fixed-top
  .container
    a.navbar-brand(href='/') SRblog
    button.navbar-toggler(data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      i.fa.fa-bars
    #navbarResponsive.collapse.navbar-collapse
      ul.nav.navbar-nav.ml-auto
        li.nav-item(role='presentation')
          a.nav-link(href='/') Home
header.masthead(style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS2QG31220JOPFhFVJONeLDiQ_wm8bHqd8Errz0i5hMA4yc6_JC');")
  .overlay
  .container
    .row
      .col-md-10.col-lg-8.mx-auto
        .post-heading
          h1 Falacias. ¿Qué son?
          h2.subheading
            | Descubre los tipos de falacias que existen y algunos ejemplos.
          span.meta
            | Publicado por&nbsp;
            a(href='salvadorrico.me') Salvador Rico
            | &nbsp;el 29 Octubre, 2019
article
  .container
    .row
      .col-md-10.col-lg-8.mx-auto
        //Definición
        h2.section-heading Definición e Introducción
        hr.my-4
        p.justify
          | El significado de la Real Academia Española de Falacia es el siguiente:
        blockquote.blockquote
          p.mb-0
            | “Engaño, fraude o mentira con que se intenta dañar a alguien."
          span.text-right.caption.text-muted [1]
        p.justify
          | El significado dado es muy concreto y sencillo, una falacia es un argumento que no tiene valor
          | argumentativo, es mentira y su unico proposito es hacer perder el tiempo y aparentar una postura no obtenida.
        p.justify
          | Estos son algunos de los tipos de falacias que existen Falacia del Accidente, Afirmación Gratuita, Falacia de AMBIGÜEDAD,
          | Falacia del Antecedente, Falacia del CONSECUENT, Argumentum ad BACULUM, Falacia del EMBUDO o del Caso especial,
          | Falacia de la CASUÍSTICA, Falacia de la CASUÍSTICA, Falacia de la Composición, Falacia de la División, Falacia ad CONSEQUENTIAM 
          | Falacia de la Pendiente Resbaladiza, Falacia ad ignorantiam, Falacia post hoc, Argumento a silentio, Argumento ad antiquitatem
          | Argumento ad novitatem, Argumento ad crumenam, Argumento ad lazarum, Argumento ad nauseam, Generalizaciones.
    .row
      .col-md-10.col-lg-8.mx-auto
        //Explicacion
        h2.section-heading Explicación y Ejemplificación
        hr.my-4
        .container

          //Falacia del Accidente
          h2.section-heading  
            i.fa.fa-angle-double-right(aria-hidden='true')  Falacia del Accidente 
          .container
            p.justify
             | Se exalta o toma como principal un atrivuto insignificante/accidental como principl de lo adjetivo.
            blockquote.blockquote
              br
              img(src="https://1.bp.blogspot.com/-qQgyriseZaA/WuaEJJHNJJI/AAAAAAAAECM/MmlbAhz_CwU8HSAeZBfATJi5lQfS5vRQACLcBGAs/w1200-h630-p-k-no-nu/04-1%255B1%255D.gif", alt="",width="100%")
              span.text-right.caption.text-muted 
            p.justify
              | Esta falacia tiende a estar muy estrechamente relacionada con la Generalizacion Presipitada a que toma un punto y lo exalta sobre el resto en todos los casos.

          //Falacia de AMBIGÜEDAD
          h2.section-heading  
            i.fa.fa-angle-double-right(aria-hidden='true') Falacia de AMBIGÜEDAD
          .container
            p.justify
             | Se produce cuando en un mismo argumento se emplean palabras o frases en más de un sentido
            blockquote.blockquote
              br
              img(src="https://k37.kn3.net/9/C/7/B/1/3/65C.jpg", alt="", width="100%")
              span.text-right.caption.text-muted https://k37.kn3.net/9/C/7/B/1/3/65C.jpg
            p.justify
              | En el caso dado se usa como palabra ambigÜa (Palabra de mas de un sentido) "gravedad" dando a entender
              | que no padece de ninguna enfermedad de gravedad, mientras nos muestra al paciente levitando. 

          //Consecuente
          h2.section-heading  
            i.fa.fa-angle-double-right(aria-hidden='true')  Falacia del CONSECUENTE 
          .container
            p.justify
             | Es cuando un argumento se reafirma a si mismo por medio de una consecuencia.
            blockquote.blockquote
              p.mb-0
                | “Cari, te vienes al gimnacio; ¿Qué pasa me estas llamando gorda?"
              span.text-right.caption.text-muted [2]
            p.justify
              | En este caso se invita a una persona al gimnacio y esta responde "me estas llamando gorda", haciendo referencia
              | al consecuente que seria "Si vas al gimnacio es porque estas gordo" y no necesariamente por invitar a alguien al gimnacio quieres
              | decir que esta gorda esa persona.
          
          //Consecuente
          h2.section-heading  
            i.fa.fa-angle-double-right(aria-hidden='true')  Falacia del EMBUDO o del Caso especial 
          .container
            p.justify
             | Es cuando se rechaza una regla con argumentos sin base alguna.
            blockquote.blockquote
              p.mb-0
                | "¿Porque pasaste bien el examen?, porque soy yo"
              span.text-right.caption.text-muted 
            p.justify
              | En este caso se apela al haber sacado bien el examen por ser simplemente el mismo, sin dar una
              | un argumento fundado.

          h2.section-heading  
            i.fa.fa-angle-double-right(aria-hidden='true')  Falacia de la Composición 
          .container
            p.justify
             | Se produce cuando atribuimos a un conjunto cosas que solamente son ciertas en las partes. Venimos a decir: como todos los componentes son buenos (o malos), el conjunto ha de ser bueno (o malo).
            blockquote.blockquote
              p.mb-0
                | "El hidrogeno es un gas y forma parte del agua y el oxigeno tambien. Entonces el agua deberia ser un gas"
              span.text-right.caption.text-muted 
            p.justify
              | Para este postulado ambos elementos del conjunto son gases por lo tanto el resultado de ambos deberia ser un gas tambien.
          
          h2.section-heading  
            i.fa.fa-angle-double-right(aria-hidden='true')  Falacia de la División 
          .container
            p.justify
             | Las partes disfrutan las propiedades del todo
            blockquote.blockquote
              img(src="http://objetos.unam.mx/logica/falacias/img/comic_2_3.jpg", alt="", width="100%")
              span.text-right.caption.text-muted http://objetos.unam.mx/logica/falacias/img/comic_2_3.jpg
            p.justify
              | Una cancion tiene la particularidad de ser buena y por lo tanto el resto del album deberia ser bueno,
              | o de mi agrado. Dado a que una parte del conjunto lo es el resto tambien.
          
          h2.section-heading  
            i.fa.fa-angle-double-right(aria-hidden='true')  Argumento ad antiquitatem 
          .container
            p.justify
             | Apelación a la tradición. Consiste en afirmar que si algo se ha venido haciendo o creyendo desde hace tiempo, entonces es que está bien o es verdadero.
            blockquote.blockquote
              p.mb-0
              | "Debemos cortarle las puntas a la carne. Porque asi me enseño mi mama y su mama antes de mi"
              span.text-right.caption.text-muted
            p.justify
              | Porque su mama le enseño a cocinar asi, ya es una ley para esa persona, apesar de no ser algo fundamentado y general.
          
          
article
  .container
    .row
      .col-md-10.col-lg-8.mx-auto
        h2.section-heading Referencias Bibliogr&aacute;ficas
        hr.my-4
        blockquote.blockquote
          p.mb-0.indent.justify
            small [1]
            |  Real Academia Española. (2001). Disquisición. En Diccionario de la lengua española (22.a ed. Actualizacion 2018). Recuperado de https://dle.rae.es/?id=HVXQdUl
          p.mb-0.indent.justify
            small [2]
            |  Sáenz, E. (2015). Aquae Campus - Big Van Humor y Ciencia . octubre 29, 2019, Recuperado de https://youtu.be/Je9akXzc8-o?t=178          
          p.mb-0.indent.justify
            small [3]
            |  García, R. (-). USO DE RAZÓN. DICCIONARIO DE FALACIAS. octubre 29, 2019, Recuperado de http://www.usoderazon.com/conten/arca/dicci/dicci2.htm
          
          br
footer
  .container
    .row
      .col-md-10.col-lg-8.mx-auto
        ul.list-inline.text-center
          li.list-inline-item
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-twitter.fa-stack-1x.fa-inverse
          li.list-inline-item
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-facebook.fa-stack-1x.fa-inverse
          li.list-inline-item
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-github.fa-stack-1x.fa-inverse
        p.text-muted.copyright Copyright&nbsp;&copy;&nbsp;SRblog 2018
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js')
